{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>
<body>
    <div class="row" ng-app="blog">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            {% verbatim %}
            <ng-view></ng-view>

            <br>
            <hr>
            <read-next></read-next>


            {% endverbatim %}
        </div>
        <div class="col-md-3">
        </div>
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

    <script src='{% static "js/ng/blog.module.js" %}'></script>
    <script src='{% static "js/ng/blog.service.js" %}'></script>
    <script src='{% static "js/ng/routes.js" %}'></script>
    <script src='{% static "js/ng/blog.controller.js" %}'></script>
    <script src='{% static "js/ng/blog.components.js" %}'></script>

</body>
</html>








