<div class="section-separator">
    <span>What to read Next</span>
    <a class="button glyphicon glyphicon-chevron-right" ng-click="$ctrl.onNext()"></a>
    <a class="button glyphicon glyphicon-chevron-left" ng-click="$ctrl.onPrev()"></a>
    <span class="clearfix"></span>
</div>
<br>
<div class="row read-next">
    <div class="col-md-3 col-xs-3" ng-repeat="article in $ctrl.dispArticles">
        <a ng-href="#!/article/{{article.id}}">
            <img ng-src="{{article.hero_img}}" height="100px" width="100%">
        </a>
        <a ng-href="#!/article/{{article.id}}">
            <h4>{{article.title}}</h4>
        </a>
    </div>
</div>
